[submodule "AI"]
	path = AI
	url = https://github.com/cs04654/AI
[submodule "VR"]
	path = VR
	url = https://github.com/cs04654/VR
[submodule "Operating-Systems"]
	path = Operating-Systems
	url = https://github.com/cs04654/Operating-Systems
[submodule "Architecture"]
	path = Architecture
	url = https://github.com/cs04654/Architecture
[submodule "Networking"]
	path = Networking
	url = https://github.com/cs04654/Networking
[submodule "Numerical-analysis-octave-"]
	path = Numerical-analysis-octave-
	url = https://github.com/cs04654/Numerical-analysis-octave-
[submodule "Robotics"]
	path = Robotics
	url = https://github.com/cs04654/Robotics
[submodule "VLSI"]
	path = VLSI
	url = https://github.com/cs04654/VLSI
[submodule "Compilers"]
	path = Compilers
	url = https://github.com/cs04654/Compilers
[submodule "Parallel_programing"]
	path = Parallel_programing
	url = https://github.com/cs04654/Parallel_programing
[submodule "Graphics"]
	path = Graphics
	url = https://github.com/cs04654/Graphics
[submodule "Wireless_Links"]
	path = Wireless_Links
	url = https://github.com/cs04654/Wireless_Links
[submodule "Multimedia"]
	path = Multimedia
	url = https://github.com/cs04654/Multimedia
[submodule "Analog_Design"]
	path = Analog_Design
	url = https://github.com/cs04654/Analog_Design
[submodule "Databases"]
	path = Databases
	url = https://github.com/cs04654/Databases
[submodule "networks_II"]
	path = networks_II
	url = https://github.com/cs04654/networks_II
[submodule "digital-design"]
	path = digital-design
	url = https://github.com/cs04654/digital-design.git
[submodule "Computer_Vision"]
	path = Computer_Vision
	url = https://github.com/cs04654/Computer_Vision
